.cuerpo {
    width: 1200px;
    height: 602px;
    margin: auto;
}

.contenedor {
    width: 950px;
    height: 100%;
    margin-top: 25px;
    margin: auto;
    padding: 20px;
    text-align: center;
    float: left;
    border-style: dotted;
    border-color: red;
}

.boxOne {
    width: 442px;
    height: auto;
    float: left;
    padding: 10px 14px;
    margin-right: 20px;
    align-items: center;
}

.boxTwo {
    width: 442px;
    height: auto;
    float: left;
    padding: 10px 14px;
    align-items: center;
}

.boxThree {
    width: 100%;
    height: auto;
    float: left;
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
    align-items: center;
}

.contOne {
    width: 330px;
    height: auto;
    margin: auto;
}

.contTwo {
    width: 330px;
    height: auto;
    margin: auto;
}

.contThree {
    width: 330px;
    height: auto;
    margin: auto;
}

.oneTitle{
    width: auto;
    height: auto;
    font-size: 20px;
    align-items: center;
}

.twoTitle{
    width: auto;
    height: auto;
    font-size: 20px;
    align-items: center;
    margin-bottom: 22px;
}

.threeTitle{
    width: auto;
    height: auto;
    align-items: center;
}

.primeraFila{
    background-color: rgb(252, 215, 9);
}

.repContenedor {
    width: 950px;
    height: 100%;
    margin-top: 25px;
    margin: auto;
    padding: 20px;
    float: left;
    border-style: dotted;
    border-color: red;
}

.buttonBack{
    width: auto;
    margin-top: 10px;
    border-style: double; 
    position: absolute;
    bottom: -70px;
}

.nuevoAcc{
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    border-style: outset;
    border-color: rgb(17, 17, 109);
    display: flex;
    float: left;
}

.datosAcc{
    width: 400px;
    height: 200px;
    margin-top: 10px;
    padding: 5px;
    border-style: outset;
    border-color: rgb(197, 7, 64);
}

.observ{
    width: auto;
    height: auto;
    border-style: outset;
    border-color: rgb(17, 109, 32);
}